{% extends 'main_layout.html' %}

{% block content %}

{% load static from staticfiles %}



    <div class="sect sect--padding-bottom">
  <div class="container">
    <div class="row">
     <h1 class="row__title">
    Contact Us </h1>
  <h2 class="row__sub">Feel free to ask any questions</h2>
    </div>
    <div class="row row--margin">
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <div class="contacts">
          <a class="contacts__link"><img src="{% static 'icons/logo_main_small.png' %}">
              <h1 class="contacts_title-ag">Bit4stack<span class="contacts--light">.com</span></h1></a>
          <p class="contacts__address">
           Buddhanagar<br>
            New Baneshwor<br>
           Kathmandu, Nepal
          </p>
          <p class="contacts__info">
            tel. <a  class="contacts__info-link">+9779843222111</a>
          </p>
          <p class="contacts__info">
            m. <a href="#"class="contacts__info-link">info@bit4stack</a>
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <form id="contact" class="form">

           <div class="form-group">
             <div class="form__field--half">
            <input type="text" placeholder="Name*" class="form__field form__text">
             </div>
          <div class="form__field--half">
          <input type="text" placeholder="Surname" class="form__field form__text">
          </div>
          </div>

        <div class="form-group">
          <div class="form__field--half">
            <input type="text" placeholder="Email address*" class="form__field form__text">
          </div>
         <div class="form__field--half">
          <input type="text" placeholder="Phone number" class="form__field form__text">
    </div>
          </div>

          <div class="form-group">
            <textarea type="text" placeholder="Your messsage*" class="form__field form__textarea"></textarea>
            <button class="btn btn--up btn--width" type="submit">Submit</button>
          </div>
        </form>
      </div>
<div class="col-md-1"></div>
    </div>
  </div>
</div>
<div class="map-view">
   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1766.4221894734878!2d85.33357323173604!3d27.691204316154856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x61931102f3dec369!2sCambridge+Boys+Hotel!5e0!3m2!1sen!2snp!4v1544275200826"
           width="600" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
{% endblock %}